---
import type { ProjectDetailed } from '../../lib/types';
import { client, urlFor } from '../../lib/sanity';
import { PortableText } from 'astro-portabletext';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navigation from '../../components/Navigation.astro';
import PortableLink from '../../components/PortableLink.astro';

export async function getStaticPaths() {
	const paths = await client.fetch(`*[_type == "project" && defined(slug.current)]{
    "params": { "slug": slug.current }
  }`);
	return paths;
}

const { slug } = Astro.params;
const query = `*[_type == "project" && slug.current == $slug][0]{
  title,
  slug,
  projectType,
  description,
  images[]{asset, alt},
  layout
}`;
const project = await client.fetch<ProjectDetailed>(query, { slug });

const allProjects = await client.fetch(`
  *[_type == "project" && defined(slug.current)]
  | order(title asc) | order(rating desc) {
    title,
    "slug": slug.current
  }
`);
const components = {
	mark: {
		link: PortableLink,
	},
};

const index = allProjects.findIndex(p => p.slug === slug);
const prev = allProjects[(index - 1 + allProjects.length) % allProjects.length];
const next = allProjects[(index + 1) % allProjects.length];
---

<style lang="scss">
	@use '../../styles/layouts/project';
</style>

<BaseLayout title={project.title}>
	<Navigation prev={prev} next={next} />
	<header class="hidden" aria-hidden="true">
		<p class="text-link">Sean Do</p>
	</header>
	<section class="project-details">
		<div class="project-title">
			<h1>{project.title}</h1>
			<p class="text-tag-large"><i>{project.projectType.join(' + ')}</i></p>
		</div>
		<div class="project-description">
			<PortableText value={project.description} components={components} />
		</div>
	</section>
	<section class={['project-images', `project-images--${project.layout}`].join(' ')}>
		{project.images.map(({ asset }) => <img src={urlFor(asset).url()} />)}
	</section>
	<header class="hidden">
		<p class="text-link">Sean Do</p>
	</header>
</BaseLayout>
